# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [64]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [65]:
# Your code here:

data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [66]:
# Your code here:

data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [67]:
# Your code here:

round(data.isna().sum()/len(data),4)*100

Name                  0.00
Job Titles            0.00
Department            0.00
Full or Part-Time     0.00
Salary or Hourly      0.00
Typical Hours        75.75
Annual Salary        24.25
Hourly Rate          75.75
dtype: float64

In [68]:
data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [69]:
# Your code here:
data["Salary or Hourly"].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [70]:
# Your code here:

data.groupby('Department')['Name'].count()

Department
ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1856
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1033
DISABILITIES              28
FAMILY & SUPPORT         656
FINANCE                  544
FIRE                    4627
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13848
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2175
TRANSPORTN              1113
TREASURER                 28
WATER MGMNT             1914
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

H0 (null hyphotesis) hourly worker = 30 
H1 Alternative hyphotesis hourly worker <> 30

In [71]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(data['Hourly Rate'].dropna(), 30)

In [72]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [73]:
#p-value is lower than 0.05 so we reject the H0 (null hyphotesis). So we accept the alternative hyp or H1: <> 30. What it means that the hourly salary of the workers is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [122]:
# Null hypothesis or H0: salaries <= 86000
# Alternative hyp or H1: salaries > 86000


stat, pval = ttest_1samp(data['Annual Salary'].dropna(), 86000)
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   23.149576589194083
pvalue for the one-tailed test is  1.1882570425863358e-117

In [75]:
#p-value is lower than 0.05 so we reject the H0 (null hyphotesis). So we accept the alternative hyp or H1: >86000. What it means that the annual salary of the workers is significantly different from the mean of $86000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [125]:
hourlywage = data[(data['Department']=='STREETS & SAN') & (data['Salary or Hourly']=='Hourly')]['Hourly Rate'] 
hourlywage

15       40.78
16       38.52
26       38.52
49       29.96
65       37.45
         ...
33623    38.01
33624    37.45
33667    37.45
33668    38.52
33676    25.95
Name: Hourly Rate, Length: 1846, dtype: float64

In [124]:
# Your code here:

data_crosstab = pd.crosstab(data['Department'], data['Salary or Hourly'], margins = False)
data_crosstab

Salary or Hourly     Hourly  Salary
Department
ADMIN HEARNG              0      38
ANIMAL CONTRL            12      63
AVIATION               1214     642
BOARD OF ELECTION         0     111
BOARD OF ETHICS           0       8
BUDGET & MGMT             2      42
BUILDINGS                 0     258
BUSINESS AFFAIRS          7     160
CITY CLERK                0      88
CITY COUNCIL             74     288
COPA                      0     123
CULTURAL AFFAIRS         10      64
DAIS                    745     288
DISABILITIES              1      27
FAMILY & SUPPORT        357     299
FINANCE                  45     499
FIRE                      0    4627
HEALTH                    2     465
HOUSING                   0      66
HOUSING & ECON DEV        3     151
HUMAN RELATIONS           0      17
HUMAN RESOURCES           0      75
INSPECTOR GEN             0      95
LAW                      48     350
LICENSE APPL COMM         0       1
MAYOR'S OFFICE           17      87
OEMC                   1077     660
POLICE                   24   13824
POLICE BOARD              0       2
PROCUREMENT               2      82
PUBLIC LIBRARY          356     732
PUBLIC SAFETY ADMIN      48     196
STREETS & SAN          1846     329
TRANSPORTN              726     387
TREASURER                 0      28
WATER MGMNT            1558     356

In [77]:
#the department with more hourly workers is 'Streets & San' with 1846

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [129]:
# Your code here:

# Null hypothesis or H0: hourly wage >= 35
# Alternative hyp or H1: hourly wage < 35


stat, pval = ttest_1samp(hourlywage, 35)
print('pvalue for the one-tailed test is ', pval/2)

print('stat is  ', stat)
hourlywage.mean()

pvalue for the one-tailed test is  3.2902372218867895e-05
stat is   4.000138803968834

35.5522968580715

In [ ]:
#We can't reject the null hypothesis. So the hourly wage is greater than $35/hour with the 95% of confidence. Also we can see in the mean that it s higher than the hourly rate.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [131]:
HourlyRdrop = data['Hourly Rate'].dropna()

In [132]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(HourlyRdrop) - 1  
sample_mean = HourlyRdrop.mean()
sample_standard_error = scipy.stats.sem(HourlyRdrop) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)

(34.29839539204317, 34.874504045196865)

In [133]:
np.std(HourlyRdrop)/np.sqrt(degrees_freedom)

0.14694742867989846

In [134]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

In [135]:
sample_standard_error

0.14694742867989574

In [98]:
(34.29839539 + 34.87450405)/2

34.586449720000005

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [136]:
# Your code here:

Annualsalary = data[(data['Salary or Hourly']=='Salary') & (data['Department']=='POLICE')]
Annualsalary

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
...,...,...,...,...,...,...,...,...
33696,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [137]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(Annualsalary['Annual Salary']) - 1  
sample_mean = np.mean(Annualsalary['Annual Salary'])
sample_standard_error = scipy.stats.sem(Annualsalary['Annual Salary']) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)

(88534.1182885883, 89134.11955863392)

In [138]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

In [139]:
sample_standard_error

153.0509585263483

In [140]:
(88534.1182885883 + 89134.11955863392)/2

88834.11892361111

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: